.Toolbar {
  background: #202225;
  width: fit-content;
  margin: 0 auto 20px auto;
  padding: 8px 4px 8px 4px;
  border-radius: 5px;
  display: flex;
}

.Toolbar > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

.Toolbar svg {
  color: #ddd;
}

.Toolbar button {
  border: 0;
  margin-top: 5px;
  padding: 3px 3px 0 3px;
  background: #36393f;
  border-radius: 2px;
}
