.Toolbar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 75px;
  background: #202225;
  padding: 8px 6px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.Toolbar > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.Toolbar > .container > button, .Toolbar > .container > label {
  margin-top: 5px;
}

.Toolbar .file-input {
  display: none;
}

.Toolbar svg {
  color: #ddd;
}

.Toolbar button, .Toolbar label {
  border: 0;
  padding: 3px 3px 0 3px;
  background: #36393f;
  border-radius: 2px;
  cursor: pointer;
}

.Toolbar button:hover, .Toolbar label:hover {
  background: #2f3136;
}

.Toolbar input {
  cursor: pointer;
}

.Toolbar input[type=checkbox] {
  margin-top: 8px;
}

.Toolbar p {
  color: #ddd;
  margin: 0;
}

.Toolbar > button {
  margin: 0 5px;
}
