.Toolbar {
  background: #202225;
  width: fit-content;
  margin: 20px auto 0 auto;
  padding: 8px 4px 8px 4px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.Toolbar > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.Toolbar .file-input {
  display: none;
}

.Toolbar svg {
  color: #ddd;
}

.Toolbar button, .Toolbar label {
  border: 0;
  margin-top: 5px;
  padding: 3px 3px 0 3px;
  background: #36393f;
  border-radius: 2px;
  cursor: pointer;
}

.Toolbar p {
  color: #ddd;
  margin: 0;
}
