.Auth {
  color: #ddd;
  max-width: 300px;
  background: #202225;
  padding: 20px;
  border-radius: 5px;
}

.Auth h1 {
  margin: 0;
}

.Auth h2 {
  margin: 0 0 5px 0;
}

.Auth hr {
  margin: 10px 0;
}

.Auth img {
  height: 60px;
}

.Auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Auth label {
  font-size: 12px;
  margin-top: 5px;
}

.Auth input {
  border: 0;
  padding: 2px 3px;
  border-radius: 3px;
  outline: none;
  background: #36393f;
  color: #ddd;
}

.Auth button[type="submit"] {
  margin-top: 10px;
}

.Auth .error-text {
  margin: 5px 0;
}
